  .row-hero{
    margin: 1rem auto;
    padding: 1.5rem;

  }
  @media (min-width: 768px){
    .row-hero{
      width: 70%;
      border: 1px solid grey
    }
  }

  body{
    background-color:#F3F3F3;
  }
